
/Client/obj/x86/Debug/FTLOverdriveClient.exe
/Data/obj/Debug/Data.csproj.FileListAbsolute.txt
/Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Data/obj/Debug/FTLOverdriveData.pdb
/Data/obj/Debug/FTLOverdriveData.dll
/Data/bin/Debug/FTLOverdriveData.dll
/Client/bin/Debug/FTLOverdriveData.dll
/Client/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client/obj/x86/Debug/ResolveAssemblyReference.cache
/Client/obj/x86/Debug/Client.csproj.FileListAbsolute.txt

/Client/bin/Debug/settings.ini